.recomendedVideos {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 22px 12px;
}

.recomendedVideos>h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recomendedVideos__card {
    display: flex;
    flex-wrap: wrap;
}